@import "tailwindcss";

:root{
  --bg-color:#ffffff;
  --font-color:#212121;
  --color-primary:#2196F3;
  --color-secondary:#8BC34A;
  --color-grayscale:#000000;
  --logo-color:#f9a825;
  --inter:"Inter", sans-serif;
}

.dark{
  --bg-color:#000000;
  --color-grayscale: #ffffff;
}

@theme{
  --color-font-primary:var(--font-color);
  --color-primary:var(--color-primary);
  --color-secondary:var(--color-secondary);
  --color-grayscale:var(--color-grayscale);
  --color-background:var(--bg-color);
  --color-logo:var(--logo-color);
  --font-inter:var(--inter);
}

 .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

.MuiTreeItem-group .MuiTreeItem-root {
  position: relative;
}

.MuiTreeItem-group .MuiTreeItem-root::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -12px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 12px;
  height: calc(100% + 8px);
}

/* palette.text.primary
#fff

palette.text.secondary
rgba(255, 255, 255, 0.7)

palette.text.disabled
rgba(255, 255, 255, 0.5)

Buttons

palette.action.active
#fff

palette.action.hover
rgba(255, 255, 255, 0.08)

palette.action.selected
rgba(255, 255, 255, 0.16)

palette.action.disabled
rgba(255, 255, 255, 0.3)

palette.action.disabledBackground
rgba(255, 255, 255, 0.12)

Background

palette.background.default
#121212

palette.background.paper
#121212

Divider

palette.divider
rgba(255, 255, 255, 0.12) */

